<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1 class="jumbotron">Welcome to the {{user.firstname}}'s wall <a class='logout' href="/users/logout">logout</a></h1>
    <form action="messageapp/newmessage/{{user.id}}" method="post" id="msgform">
        {% csrf_token %}

        <textarea type="text" name="messagecontent" cols='80' placeholder="leave a message" id="msgform"></textarea>
        <input type="hidden" name="hidden" value="{{user.id}}">

        <input type="submit" value="submit">
    </form>
    {%for message in messages reversed%}
    <div class='message'></p>{{message.user.firstname}}: {{message.content}} - <span class='bluespan'>{{message.created_at}}</span></p>
    <ul>
        {%for comment in message.comments.all %}
        <li class='comment'>{{comment.ucomment.firstname}}: {{comment.content}} - <span>{{comment.created_at}}</span></li>
        {%endfor%}
        <form action="messageapp/newcomment" method="post" id='commentform'>
            {% csrf_token %}
            <input type="text" name="commentcontent" placeholder="leave a comment">
            <input type="hidden" name="hidden" value="{{message.id}}">
            <input type="hidden" name="hidden2" value="{{user.id}}">
            <input type="submit" value="submit">
        </form>
    </ul>
    </div>
    {%endfor%}
    <a href="/dashboard">see all users</a>
</body>

</html>